@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 560px;
  }

ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    
}

.header1{
    color: black;
}
.overmij {
    color: black;
    font-size: 14px;
    font-family: karla;
    text-align: center; 
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 40px;
    display: block;
}
ul li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-family: arial;
    color:black;
    padding: 0 20px;
}
ul li a:hover{
    color: white;
}
nav{
    width: 100%;
    height: 100%;

}
.logo{
    float: left;
    height: 150px;
    width: 180px;
    margin-top: -80px;
    display: block;
    margin-right: auto;
}

hr {
    align-items: center;
    display: block;

}
hr:hover{
    background-color: white
}
h1 {
    color: white;
    font-family: karla;
    text-align: center; 
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    display: block;
}
button{
    font-family: karla;
    margin-top: 25px;
    margin-left: 710px;
    margin-right: 710px;
    width: 100px;
    background-color: black;
    color: white;
}
#wordpress {
    height: 500px;
    width: 800px;
    margin-left: 370px;
    margin-right: 400px;
    margin-top: 50px;
    display: none;
}
#python {
    height: 500px;
    width: 800px;
    margin-left: 370px;
    margin-right: 400px;
    margin-top: 50px;
    display: none;
}
#blok1 {
    height: 500px;
    width: 800px;
    margin-left: 370px;
    margin-right: 400px;
    margin-top: 50px;
    display: none;
}
#show {
    height: 500px;
    width: 800px;
 
    display: block;
}
body {
    background-image: url(https://www.itl.cat/pngfile/big/157-1572257_professional-website-background-images-hd-professional-emails-background.jpg);

    background-repeat: no-repeat;
    background-size: cover;
}
.screenshot{
    align-items: center;
    height: 500px;
    width: 800px;
    margin-left: 370px;
    margin-right: 400px;
    margin-top: 50px;
}
.foto1{
    align-items: center;
    height: 600px;
    width: 600px;
    margin-left: 370px;
    margin-right: 400px;
    margin-top: 50px;   
}